
<div class="container-fluid">

	<div class="parent">
			<div class="child">
				<div id="map-left-menu"></div>
				<div id="map" style="width:600px; height:400px"></div>
			</div>

	</div>
</div>


<script src="http://<?= $_SERVER['SERVER_NAME'] ?>/js/object_list.js" type="text/javascript"></script>
