

<div class="row">
	<div class="col-sm-1">

	</div>
	<div class="col-sm-10">

		<?php
        if (file_exists($data["timetable"]))
		{ include_once $data["timetable"];}
		else
		{

		}?>

	</div>
</div>