@media (max-width: 1000px) {
  #map {
    display: none;
  }
}
.parent {
  margin: 0 auto;
  display: table;
  padding-right: 15px;
  padding-left: 15px;
  width: 830px;
}
.child {
  display: table-cell;
  vertical-align: middle;
}
#map-left-menu {
  float: left;
  font-size: 18px;
  height: 400px;
  width: 200px;
  border: 2px solid #ccc;
  overflow-y: scroll;
  overflow-x: hidden;
}
#map-left-menu a {
  color: #333;
  font-weight: 100;
  text-decoration: none;
}
#map-left-menu .submenu {
  margin: 0 0 15px 0;
  padding: 0;
}
#map-left-menu .submenu li {
  list-style: none;
  border: 1px solid #eee;
  height: 30px;
  margin-top: 5px;
  text-align: center;
}
#map-left-menu .submenu li:hover {
  background-color: #eee;
}
#map-left-menu .menu {
  padding: 5px;
  text-align: center;
}
#map-left-menu .menu .menu-group {
  color: #000;
  font-weight: 300;
  letter-spacing: .2em;
}
#map {
  width: 100%;
  padding: 0;
  margin: 0;
  float: right;
  border: 2px solid #ccc;
  border-left: none;
}
#map {
  height: 250px;
}
