@body-bgcolor: url(/img/bg.png);
@head-color: #bbb;
@head-color-hover: #fff;

body {
  font-family: 'Arial',sans-serif;
  font-weight: 300;
  color:#777;
  background: @body-bgcolor;
}

.container-fluid {
  padding: 0;
}

.m-head {
  position: absolute;
  padding-top: 20px;
  padding-bottom:20px;
  font-size: 20px;
  background-color: #2B587A;
  width: 95%;

  .leftCorner {
    float: left;
    letter-spacing: .1em;
  }

  a {
    text-decoration: none;
    transition: all 0.5s;

    &:hover {
      color: @head-color-hover;
      border-bottom: 1px #aaa solid;
    }
  }

  li{
    margin-left: 10px;
    list-style: none;
    overflow: hidden;
    display: inline;

  }

}
.active {
  border-bottom: 1px #ccc solid;
  color: @head-color-hover;
}

#navbar-custom-blue{
  margin: 0 auto;
  border:none;
  font-size: 18px;

  .navbar-collapse-display {
    display: block;
  }

  .navbar-brand {
    font-size: 18px;
  }

  #collapseButton {
    margin-top: -8px;
  }

  li{
    margin-right: 20px;
    margin-top:3px
  }

  .brand-image {
    max-width: 30px;
    display: inline-block;
    margin-right: 35px;
  }

  a {
    text-decoration: none;
    transition: all 0.5s;
    padding: 0;

    color: @head-color;

    &:hover {
      color: @head-color-hover;
      border-bottom: 1px #aaa solid;
    }
  }

  #active {
    border-bottom: 1px #ccc solid;
    color: @head-color-hover;
  }

  .container {
    height: 70px;
    background-color: #2B587A;
    padding: 25px 25px;
    letter-spacing: .05em;
  }

  @media (max-width: 1000px) {
    .mediumDisplay{
      display: none;
    }

  }
  @media (max-width: 350px) {
    .navbar-brand {
      display: none;
    }
  }

  @media (max-width: 766px) {

    & {
      height: 50px;
    }

    #navbarCollapse{
      background-color: #2B587A;
      text-align: center;
    }
    #active {
      border-bottom: 0;
    }
    .container {
    }

    a:hover
    {
      border-bottom: 0;
    }

  }

  .currentWeek {
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    color: @head-color;
    letter-spacing: .01em;
  }


}




.m-head-nav {
  color: @head-color;
  margin-left: 10px;
}

a {
  color: @head-color;
}

// Content stuff

.page-wrap {
  min-height: 100%;
  padding-top: 150px;
  /* equal to footer height */
  margin-bottom: -100px;
}

.page-wrap:after {
  content: "";
  display: block;
}


// Footer

.site-footer, .page-wrap:after {
  height: 50px;

}

.site-wrap {
  margin: 0 auto;
  width: 95%;

}
.content-wrap {
  padding-top:125px;
  padding-bottom: 40px;
  background-color: #eee;

}

.clearfix {
  content: " ";
  clear: both;
  display: table;
}

.site-footer {
  margin-top: 15px;
  position: relative;
  padding-top: 2px;

  .site-footer-text {
    margin: 30px auto;
    text-align: center;
    color:#666;
  }

  a{
    color: #666;
  }

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      height: 1px;
      width: 100%;
     }



}
