body {
  font-family: 'Arial', sans-serif;
  font-weight: 300;
  color: #777;
  background: url(/img/bg.png);
}
.container-fluid {
  padding: 0;
}
.m-head {
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  background-color: #2B587A;
  width: 95%;
}
.m-head .leftCorner {
  float: left;
  letter-spacing: .1em;
}
.m-head a {
  text-decoration: none;
  transition: all 0.5s;
}
.m-head a:hover {
  color: #fff;
  border-bottom: 1px #aaa solid;
}
.m-head li {
  margin-left: 10px;
  list-style: none;
  overflow: hidden;
  display: inline;
}
.active {
  border-bottom: 1px #ccc solid;
  color: #fff;
}
#navbar-custom-blue {
  margin: 0 auto;
  border: none;
  font-size: 18px;
}
#navbar-custom-blue .navbar-collapse-display {
  display: block;
}
#navbar-custom-blue .navbar-brand {
  font-size: 18px;
}
#navbar-custom-blue #collapseButton {
  margin-top: -8px;
}
#navbar-custom-blue li {
  margin-right: 20px;
  margin-top: 3px;
}
#navbar-custom-blue .brand-image {
  max-width: 30px;
  display: inline-block;
  margin-right: 35px;
}
#navbar-custom-blue a {
  text-decoration: none;
  transition: all 0.5s;
  padding: 0;
  color: #bbb;
}
#navbar-custom-blue a:hover {
  color: #fff;
  border-bottom: 1px #aaa solid;
}
#navbar-custom-blue #active {
  border-bottom: 1px #ccc solid;
  color: #fff;
}
#navbar-custom-blue .container {
  height: 70px;
  background-color: #2B587A;
  padding: 25px 25px;
  letter-spacing: .05em;
}
@media (max-width: 1000px) {
  #navbar-custom-blue .mediumDisplay {
    display: none;
  }
}
@media (max-width: 350px) {
  #navbar-custom-blue .navbar-brand {
    display: none;
  }
}
@media (max-width: 766px) {
  #navbar-custom-blue {
    height: 50px;
  }
  #navbar-custom-blue #navbarCollapse {
    background-color: #2B587A;
    text-align: center;
  }
  #navbar-custom-blue #active {
    border-bottom: 0;
  }
  #navbar-custom-blue a:hover {
    border-bottom: 0;
  }
}
#navbar-custom-blue .currentWeek {
  height: 50px;
  font-size: 18px;
  line-height: 20px;
  color: #bbb;
  letter-spacing: .01em;
}
.m-head-nav {
  color: #bbb;
  margin-left: 10px;
}
a {
  color: #bbb;
}
.page-wrap {
  min-height: 100%;
  padding-top: 150px;
  /* equal to footer height */
  margin-bottom: -100px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer,
.page-wrap:after {
  height: 50px;
}
.site-wrap {
  margin: 0 auto;
  width: 95%;
}
.content-wrap {
  padding-top: 125px;
  padding-bottom: 40px;
  background-color: #eee;
}
.clearfix {
  content: " ";
  clear: both;
  display: table;
}
.site-footer {
  margin-top: 15px;
  position: relative;
  padding-top: 2px;
}
.site-footer .site-footer-text {
  margin: 30px auto;
  text-align: center;
  color: #666;
}
.site-footer a {
  color: #666;
}
.site-footer::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  height: 1px;
  width: 100%;
}
